/* Általános stílusok */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: "Poppins", serif;/*Google fonts*/
    font-weight: 300;/*Google fonts*/
    font-style: normal;/*Google fonts*/
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #333;
    max-width: 1500px;/*nagy képernyőn ne follyon szét*/
}
h1{
    padding: 10px;
    text-shadow: 6px 5px 7px #222c35;/*CSS snippets*/
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}
a {
    text-decoration: none;
}
p {
    text-align: justify;
}
nav{
    padding: 1rem;
    background-color: #333;
    position: fixed; /* Rögzíti a navigációt */
    top: 0; /* A tetejére helyezi */
    left: 0;
    width: 100%; /* Az egész szélességet lefedi */
    z-index: 1000; /* Előrébb hozza más elemeknél */
    /*CSS snippets- csak a contact részhez kell, h elkülönüljön a menütől*/
    box-shadow: 0 20px 10px -20px rgba(90, 88, 88, 0.45) inset,
        0 -20px 10px -20px rgba(103, 101, 101, 0.45) inset;
    
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;    
}

nav a {
    color: white;
    font-size: 1.2rem;
}
.hero {  
    height: calc(100vh - 50px);
    background: url('bg.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero img{
    max-width: 200px;
}

/*********************/
/* Általános szekció stílus */
section {
    margin: 2rem ;
    border-radius: 10px;
}

.services,.portfolio {
    background-color: #dcdcdc;
}

/* H4 stílus, hogy új sorba kezdődjön */
section h4 {
    padding-top: 2rem;
    border-bottom: 2px solid #ccc;
}
/*********************/
/* Szolgáltatások szekció */
.services {
    padding: 2rem;
    text-align: center;
}

.services p {
    font-size: 1.1rem;
    max-width: 800px;
    margin: 0 auto;
}

/* Portfólió szekció */
.portfolio {
    padding: 2rem;
    display: grid;
    gap: 1.5rem;
}

.portfolio h4 {
    grid-column: 1 / -1; /* Kitölti az egész sort */
    text-align: center;
    margin-bottom: 1rem;
}

.portfolio img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;

}
/* Burger menü - a media-query előtt kell legyen!!!*/
nav ul {
    flex-direction: column;
    align-items: center;
    display: none;
}

.burger {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 50px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 3rem;
    top: 0.2rem;
  
}

.burger div {
    width: 30px;
    height: 2px;
    background-color: white;
    border-radius: 10px;
}
#burger-menu.open{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2px;
    padding: 4px;
    background-color: #333;
    width: 50px;
    animation: slideDown 0.5s ease-in-out; /* Menük csúszó animációja */
 
}
#burger-menu.open a{
    font-size: 0.6rem;
    text-decoration: underline;
}

@keyframes slideDown {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Média lekérdezések */
@media (min-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }
    .hero h1 {
        font-size: 4rem;
    }
    .hero h2 {
        font-size: 2.5rem;
    }

    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
    .burger {
        display: none;  /* Rejtjük a burger menüt nagyobb képernyőkön */
    }
}

@media (min-width: 1150px) {
    .hero h1 {
        font-size: 5rem;
    }
    .hero h2 {
        font-size: 3rem;
    }
    .portfolio {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Kapcsolat szekció */
#contact {
    margin:1rem;
    border: 1px solid #f8f8f8;
    border-radius: 10px;
    color: white;
    padding: 2rem;
    text-align: center;
  }
  
  .contact-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .contact-info {
    display: flex;
    justify-content: center;
    gap:1rem;
    flex-wrap: wrap;
 }
 .contact-method{
    align-self: center;
 }
  .contact-info ul {
    list-style: none;
    padding: 0;
  }
  
  .contact-info li {
    margin: 0.5rem 0;
  }
  
  .map iframe {
    max-width: 100%;
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .contact-info {
      flex-direction: column;
      align-items: center;
    }
  }
  
